body {
    padding-top: 10px;
  }

.additems {
  justify-content: end;
  max-height: fit-content;
  margin-top: 10%;
}

.clearbutton {
  margin-left: 5px;
  width: fit-content;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: rgb(214, 214, 214);
}

.extra {
  align-items: flex-end;
  align-content: flex-end;
  /* width: 30%; */
  min-width: 10%;
  max-width: 50%;
  /* margin-inline-end: 15%; */
}

.foodcard {
  margin-bottom: 35px;
  justify-content: right;
  justify-self: center;
  justify-items: right;
}

.foodimage {
  width:min-content;
  justify-items: center;
  /* margin-right: 10px; */
  margin-inline-start: 15%;
}

.foodname {
  justify-content: left;
  justify-self: left;
  justify-items: left;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  float: left;
  display: block;
  font-size: 40px;
}

.name-price {
  /* justify-content: end; */
  /* max-width: max-content; */
}

.orderbutton {
  width: fit-content;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: rgb(149, 225, 255);

}

.pricetag {
  justify-content: flex-end;
  justify-self: flex-end;
  justify-items: flex-end;
  align-self: right;
  font-size: x-large;
  align-items: right;
  align-content:right;
  float: right;
  margin-top: 9px;
}

.subheading {
  color: rgb(255, 0, 0);
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: large;
}

.subsubheading {
  font-style: italic;
  margin-bottom:45px;
}

.subtotal {
  align-items: center;
  align-content: center;
  text-align: center;
  width:50%;
  font-weight:bold;
  font-size: large;
  
}

.subtotal-row {
  margin-bottom: 30px;
}
